* {
	border: solid 1px #000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #f0f0f0;
	padding: 20px;
	text-align: center;
	background-image: url("./images/logo.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	height: 500px;
}

h1 {
	border: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	text-align: right;
	padding: 10px;
	border: none;
}

nav ul li {
	display: inline;
	margin-right: 15px;
	padding: 10px;
	background-color: rgb(30, 16, 233);
	border-radius: 5px;
}
nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

footer {
	background-color: #f0f0f0;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border: none;
}
